$brownColor: #4d2000;
$brownLighterColor: #6d2e01;
$brownLightColor: #ad7954;

$beigeLighterColor: #fce7ce;
$beigeLightColor: #ffedd7;

@font-face {
    font-family: 'Manrope';
    src: url('../public/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: none;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%; /* TODO check - why? */
    max-width: 1600px;
}

html, body {
    min-height: 100%;
    max-height: 100%;
    height: 0;
}

.root {
    height: available;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

/* Common Styles */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    border-radius: 5px;
    background-color: $brownColor;
    color: bisque;
}

button:hover {
    cursor: pointer;
    background-color: $brownLighterColor;
}

button.smallButton {
    $innerPadding: 10px;

    font-size: 10pt;
    padding: $innerPadding 3*$innerPadding;
}

button.mediumButton {
    $innerPadding: 12px;

    font-size: 11pt;
    padding: $innerPadding 3*$innerPadding;
}

button.largeButton {
    $innerPadding: 14px;

    font-size: 12pt;
    padding: $innerPadding 3*$innerPadding;
}

button.extraLargeButton {
    $innerPadding: 18px;

    font-size: 14pt;
    padding: $innerPadding 3*$innerPadding;
}

button.iconButton {
    $size: 32px;

    width: $size;
    height: $size;
}

/* Links */

a, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.lightLink {
    color: bisque;
}

a.darkLink {
    color: $brownColor;
}