@import '../../App.module.scss';

$collapsedMenuBorderColor: 220;
$buttonSize: 50px;
$borderRadius: 10px;

.collapsedMenuContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

button.categoriesListButton {
    width: $buttonSize;
    height: $buttonSize;
    background-image: url('../../../public/icons/burgerButtonIcon.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
    z-index: 2;
}

.list {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 1px 5px 0 rgb(
        $collapsedMenuBorderColor, 
        $collapsedMenuBorderColor, 
        $collapsedMenuBorderColor
    );
    overflow: auto;
    border-radius: $borderRadius;
    top: $buttonSize + 10px; //TODO check it
}

.mainList {
    @extend .list;
    z-index: 1;
    background-color: white;
    width: 250px;
}

.subList {
    @extend .list;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    z-index: 1;
    background-color: white;

    width: 740px;
    max-height: 80vh;

    left: 250px;
    padding: 15px 0;
}