@import '../../App.module.scss';

$menuIconSize: 32px;
$iconMargin: 10px;

.footerContainer {
    font-size: 10pt;
    padding: 30px;
    width: 100%;
    background-color: $brownColor;
    color: bisque;
    display: flex;
    align-items: flex-start;
}

.footerContent {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.copyright {
    @extend .footerContent;
}

.links {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    @extend .footerContent;
}

.contacts {
    @extend .footerContent;
    flex-direction: row;
    flex-wrap: wrap;
    width: 3 * ($menuIconSize + $iconMargin);
}

.icon {
    width: $menuIconSize;
    height: $menuIconSize;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: $iconMargin;
    margin-bottom: $iconMargin;
}

.icon:hover {
    cursor: pointer;
}

.vkIcon {
    @extend .icon;
    background-image: url('../../../public/icons/vkIcon.svg');
}

.skypeIcon {
    @extend .icon;
    background-image: url('../../../public/icons/skypeIcon.svg');
}

.telegramIcon {
    @extend .icon;
    background-image: url('../../../public/icons/telegramIcon.svg');
}

.emailIcon {
    @extend .icon;
    background-image: url('../../../public/icons/emailIcon.svg');
}

.gitLabIcon {
    @extend .icon;
    background-image: url('../../../public/icons/gitlabIcon.svg');
}