/* Search Hints */

@import '../../App.module.scss';

$searchHintsBorderColor: 220;

$paddingVertical: 10px;
$paddingHorizontal: 20px;
$paddingVerticalFirstChild: 4*$paddingVertical;

.searchHints {
    $borderRadius: 10px;

    position: absolute;
    background-color: white;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    top: 35px;
    width: 100%;
    z-index: -1;
    box-shadow: 0 1px 5px 0 rgb($searchHintsBorderColor, $searchHintsBorderColor, $searchHintsBorderColor);
    overflow: auto;

    a {
        color: $brownLightColor;
        text-decoration: none;
    }

    .searchHint {
        padding: $paddingVertical $paddingHorizontal;
    }

    .searchHint:first-child {
        padding-top: $paddingVerticalFirstChild;
    }

    .searchHint:hover {
        cursor: pointer;
        background-color: bisque;
    }
}

.noHintsStub {
    padding: $paddingVertical $paddingHorizontal;
    padding-top: $paddingVerticalFirstChild;
    color: gray;
}