@import '../../App.module.scss';

ul.mainMenuContainer {
    width: 510px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul.mainMenuContainer li {
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $brownColor;
}

ul.mainMenuContainer li:hover {
    background-color: $beigeLightColor;
    cursor: pointer;
}

$menuIconSize: 32px;

.icon {
    width: $menuIconSize;
    height: $menuIconSize;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.userIcon {
    @extend .icon;
    background-image: url('../../../public/icons/userIcon.svg');
}

.ordersIcon {
    @extend .icon;
    background-image: url('../../../public/icons/ordersIcon.svg');
}

.favoritesIcon {
    @extend .icon;
    background-image: url('../../../public/icons/favoritesIcon.svg');
}

.waitingListIcon {
    @extend .icon;
    background-image: url('../../../public/icons/waitingListIcon.svg');
}

.cartIcon {
    @extend .icon;
    background-image: url('../../../public/icons/cartIcon.svg');
}