@import '../../App.module.scss';

.tileItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 5px 0 $brownLightColor;
    border-radius: 10px;
    padding: 15px;
    margin: 0 15px 15px 0;
    width: 200px;
    height: 350px;

    .itemTitle {
        display: block;
        text-align: center;
        color: $brownColor;
        margin: 10px 0;
        height: 35px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .itemPrice {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 14pt;
        color: $brownColor;
    }

    .itemImageCommon {
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    .itemImageContainer {
        width: 100%;
        flex-grow: 1;
        background-image: linear-gradient(white, #eee);
        @extend .itemImageCommon;
    }

    .itemImage {
        height: 100%;
        @extend .itemImageCommon;
    }

    .itemImageAbsent {
        @extend .itemImage;
        background-image: url('../../../public/images/noImage.svg');
        background-size: 50%;
    }

    .itemImagePresent {
        @extend .itemImage;
        background-size: contain;
    }
}

.tileItemContainer:hover {
    cursor: pointer;
}