@import "../../App.module.scss";

.search {
    margin-right: 20px;
    max-width: 80%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
}

input.searchInput {
    padding: 10px;
    padding-right: 40px;
    margin-right: 5px;
    background: $beigeLighterColor;
    color: $brownLightColor;
    border: 1px solid $brownLightColor;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

input.searchInput:focus {
    background: $beigeLightColor;
}

input.searchInput::placeholder {
    color: $brownLightColor;
}

input.searchInput:hover {
    cursor: pointer;
    background-color: rgb(255, 237, 215);
}

button.searchButton {
    $size: 30px;
    width: $size;
    height: $size;
    background-image: url('../../../public/icons/searchIcon.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
    margin-left: -15px - $size;
}