$headerBgColor: #FFFFFF;
$headerBorderColor: 220;
$footerBgColor: #4d2000;

.headerContainer {
  padding: 0 50px;
  width: 100%;
  background-color: $headerBgColor;
  background-color: bisque;
  box-shadow: 0 1px 5px 0 rgb($headerBorderColor, $headerBorderColor, $headerBorderColor);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: available;
}