@import '../../App.module.scss';

.CollapsedSubMenuItem {
    margin: 0 15px;
}

.categoriesList {
    display: flex;
    flex-direction: column;

    width: 150px;

    list-style: none;
    margin-bottom: 15px;
    padding: 0;
}