@import '../../App.module.scss';

.ratingView {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}

.starsView {
    position: relative;
    display: flex;
    align-items: center;

    background-color: gray;
    mask-image: url('../../../public/icons/starIcon.svg');

    color: $brownColor;
}

.numberView {
    display: block;
    margin-left: 5px;
    color: gray;
    font-weight: bold;
}