$footerBgColor: #4d2000;

.logo {
	$scale: 7;

	$logoSize: $scale * 10px;

	background: $footerBgColor;
	width: $logoSize;
	height: $logoSize;
	border-radius: 20px;

	margin-right: 20px;

	.titleContainer {
		margin: auto;

		.title {
			text-align: center;
			color: bisque;
			font-size: $scale * 7px;
			font-weight: bold;
			font-family: tahoma, serif;
		}
		
		.title::before {
			content: '.';
			color: yellow;
		}
	}

	:hover {
		cursor: pointer;
	}

}